body{
    font-family: 'M PLUS 1p'
}
.navbar {
    background-color: rgba( 204, 255, 204, 0.55 );
}

.skill img {
    object-fit:cover;
    height: 100%;
}

.container .h2{
    
}

.container {
    height:750px;
    display:flex;
    justify-content:center;
    align-items:center;
}


.contents {
}

.container.greeting {
    background-color: #dff0d8;
}

.container.skills {
    background-color: #d9edf7;

}
.container.works {
    background-color: #dff0d8;
}
